<table cellpadding="0" cellspacing="0" border="1">
    <tr style="line-height: 20pt">
        <td>
            <div style="font-family: 'Avenir next','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 12pt; color: #000000;">
                <span style="line-height: 17px">Julien Gerardot</span>
                <span style="line-height: 17px;color:#006ff4;">a.k.a </span><span style="line-height: 17px;color:#006ff4;">The Artist</span>
            </div>
        </td>
        <td style="padding-left: 35px">
            <a href="https://twitter.com/thecampProvence" title="twitter" style="font-family: 'Avenir next','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 9pt;">
                <img src="icon-twitter.png" alt="twitter" nosend="1" border="0" type="image/png" width="22" height="22" />
            </a>
        </td>
    </tr>
    <tr style="line-height: 20pt">
        <td>
            <div style="font-family: 'Avenir next','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 11pt; color: #000000;">
                <span style="color:#006ff4; font-weight: 600">T </span><span style="color:#878787; letter-spacing: -0.2pt;">+33 6 19 33 13 56</span> <br/>
            </div>
        </td>
        <td style="padding-left: 35px">
            <a href="https://www.facebook.com/thecamp.provence/" title="facebook" style="font-family: 'Avenir next','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 9pt;">
                <img src="icon-facebook.png" alt="facebook" nosend="1" border="0" type="image/png" width="22" height="22" />
            </a>
        </td>
    </tr>
    <tr style="line-height: 20pt">
        <td rowspan="2" style="vertical-align: bottom;">
            <a href="http://thecamp.fr" title="thecamp.fr" style="font-family: 'Avenir next','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 12pt;">
                <img src="logo.png" alt="thecamp.fr" nosend="1" border="0" type="image/png" width="150" height="33.3" />
            </a>
        </td>
        <td style="padding-left: 35px; height: 20pt">
            <a href="https://www.instagram.com/thecamp_provence/" title="instagram" style="font-family: 'Avenir next','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 9pt;">
                <img src="icon-instagram.png" alt="instagram" nosend="1" border="0" type="image/png" width="22" height="22" />
            </a>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 35px; height: 20pt">
            <a href="https://www.linkedin.com/company/thecamp" title="linkedin" style="font-family: 'Avenir next','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 9pt;">
                <img src="icon-linkedin.png" alt="linkedin" nosend="1" border="0" type="image/png" width="22" height="22" />
            </a>
        </td>
    </tr>
</table>