<table cellpadding="0" cellspacing="0" border="0">
    <tr style="line-height: 16pt">
        <td style="width:200px;" width="200px">
            <div style="font-family: 'Avenir next','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 10pt; color: #000000;">
                <span>Julien Gerardot</span>
                <span style="color:#006ff4;">a.k.a </span><span style="color:#006ff4;">The Artist</span>
            </div>
        </td>
        <td style="padding-left: 32px">
            <a href="https://twitter.com/thecampProvence" title="twitter" style="font-family: 'Avenir next','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 7pt;">
                <img src="http://thecamp.fr/signatures/v2/icon-twitter.png" alt="twitter" nosend="1" border="0" type="image/png" width="19" height="19" />
            </a>
        </td>
    </tr>
    <tr style="line-height: 16pt">
        <td>
            <div style="font-family: 'Avenir next','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 9pt; color: #000000;">
                <span style="color:#006ff4; font-weight: 600">T </span><span style="color:#878787; letter-spacing: -0.2pt;">+33 6 19 33 13 56</span> <br/>
            </div>
        </td>
        <td style="padding-left: 32px">
            <a href="https://www.facebook.com/thecamp.provence/" title="facebook" style="font-family: 'Avenir next','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 7pt;">
                <img src="http://thecamp.fr/signatures/v2/icon-facebook.png" alt="facebook" nosend="1" border="0" type="image/png" width="19" height="19" />
            </a>
        </td>
    </tr>




    <table cellpadding="0" cellspacing="0" border="0">

        <tr style="line-height: 16pt">
            <td style="vertical-align: bottom; width:200px">
            <a href="http://thecamp.fr" title="thecamp.fr" style="font-family: 'Avenir next','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 10pt;">
                <img src="http://thecamp.fr/signatures/v2/logo.png" alt="thecamp.fr" nosend="1" border="0" type="image/png" width="130" height="29" />
            </a>
        </td>

        <td>

            <table cellpadding="0" cellspacing="0" border="0">
                <tr><td style="padding-left: 32px; height: 16pt">
                    <a href="https://www.instagram.com/thecamp_provence/" title="instagram" style="font-family: 'Avenir next','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 7pt;">
                        <img src="http://thecamp.fr/signatures/v2/icon-instagram.png" alt="instagram" nosend="1" border="0" type="image/png" width="19 " height="19" />
                    </a>
                </td></tr>
                <tr><td style="padding-left: 32px; height: 16pt">
                    <a href="https://www.linkedin.com/company/thecamp" title="linkedin" style="font-family: 'Avenir next','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 7pt;">
                        <img src="http://thecamp.fr/signatures/v2/icon-linkedin.png" alt="linkedin" nosend="1" border="0" type="image/png" width="19" height="19" />
                    </a>
                </td></tr>
            </table>

        </td>
    </tr>
</table>



