<table cellpadding='0' cellspacing='0' border='0'>
    <tr>
        <td>
            <div style='font-family: Avenir next, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 11pt; color: #000000;'>
                <span>%%FirstName%% %%LastName%%</span><span style='color:#006ff4;'>&nbsp;a.k.a&nbsp;</span><span style='color:#006ff4;'>%%Aka%%</span>
            </div>
            <div style='line-height : 3pt;font-family: Avenir next, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 9pt; color: #000000;'>
                <span style='color:#878787; letter-spacing: -0.2pt;'>%%MobileNumber%%</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style='color:#878787; letter-spacing: -0.2pt;'>%%PhoneNumber%%</span>
            </div>
            <span style='font-size: 15px'><br/></span>
            <div style='font-family: Avenir Next, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 10pt;'>
                <a href='http://thecamp.fr' title='thecamp.fr' ><img src='http://thecamp.fr/signatures/v2/logo.png' alt='thecamp.fr' nosend='1' border='0' type='image/png' width='130' height='29'/></a>
            </div>
            <span style='font-size: 15px'><br/></span>
            <div style='text-decoration : none;' style='font-family: Avenir Next,HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 10pt;'>
                <a style='text-decoration : none;' href='https://twitter.com/thecampProvence' title='twitter' style='font-family: Avenir Next,HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 10pt;'>
                    <img src='http://thecamp.fr/signatures/v2/icon-twitter-grey.png' alt='twitter' nosend='1' border='0' type='image/png' width='18' height='18' />
                </a>&nbsp;
                <a style='text-decoration : none;' href='https://www.facebook.com/thecamp.provence/' title='facebook' style='font-family: Avenir Next, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 10pt;'>
                    <img src='http://thecamp.fr/signatures/v2/icon-facebook-grey.png' alt='facebook' nosend='1' border='0' type='image/png' width='18' height='18' />
                </a>&nbsp;
                <a style='text-decoration : none;' href='https://www.instagram.com/thecamp_provence/' title='instagram' style='font-family: Avenir Next, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 10pt;'>
                    <img src='http://thecamp.fr/signatures/v2/icon-instagram-grey.png' alt='instagram' nosend='1' border='0' type='image/png' width='18' height='18' />
                </a>&nbsp;
                <a style='text-decoration : none;' href='https://www.linkedin.com/company/thecamp' title='linkedin' style='font-family: Avenir Next, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 10pt;'>
                    <img src='http://thecamp.fr/signatures/v2/icon-linkedin-grey.png' alt='linkedin' nosend='1' border='0' type='image/png' width='18' height='18' />
                </a>
            </div>
        </td>
    </tr>
</table>