<!-- <table cellpadding='0' cellspacing='0' border='0'>
    <tr>
        <td>
            <div style='font-family: Avenir Next, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 11pt; color: #000000;'>
                <span>%%FirstName%% %%LastName%%</span>
                <span style='font-size: 15px'><br/></span>
                <span style='color:#006ff4;'>aka&nbsp;</span>
                <span style='color:#006ff4;'>%%Aka%%</span>
            </div>
            <span style='font-size: 9px'><br/></span>
            <div style='line-height : 3pt;font-family: Avenir Next, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 9pt; color: #000000;'>
                <span style='color:#878787; letter-spacing: -0.2pt;'>%%MobileNumber%%</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span style='color:#878787; letter-spacing: -0.2pt;'>%%PhoneNumber%%</span>
            </div>
            <span style='font-size: 15px'><br/></span>
            <div style='font-family: Avenir Next, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 10pt;'>
                <a href='https://thecamp.fr?utm_source=signature&utm_medium=email' title='thecamp.fr' >
                    <img src='https://static.thecamp.fr/signatures/v2/logo.png' alt='thecamp.fr' nosend='1' border='0' type='image/png' width='130' height='29'/>
                </a>
            </div>
            <span style='font-size: 15px'><br/></span>
            <div style='text-decoration : none;' style='font-family: Avenir Next,HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 10pt;'>
                <a style='text-decoration : none;' href='https://twitter.com/thecampProvence' title='twitter' style='font-family: Avenir Next,HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 10pt;'>
                    <img src='https://static.thecamp.fr/signatures/v2/icon-twitter-grey.png' alt='twitter' nosend='1' border='0' type='image/png' width='18' height='18' />
                </a>&nbsp;
                <a style='text-decoration : none;' href='https://www.facebook.com/thecamp.provence/' title='facebook' style='font-family: Avenir Next, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 10pt;'>
                    <img src='https://static.thecamp.fr/signatures/v2/icon-facebook-grey.png' alt='facebook' nosend='1' border='0' type='image/png' width='18' height='18' />
                </a>&nbsp;
                <a style='text-decoration : none;' href='https://www.instagram.com/thecamp_provence/' title='instagram' style='font-family: Avenir Next, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 10pt;'>
                    <img src='https://static.thecamp.fr/signatures/v2/icon-instagram-grey.png' alt='instagram' nosend='1' border='0' type='image/png' width='18' height='18' />
                </a>&nbsp;
                <a style='text-decoration : none;' href='https://www.linkedin.com/company/thecamp' title='linkedin' style='font-family: Avenir Next, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 10pt;'>
                    <img src='https://static.thecamp.fr/signatures/v2/icon-linkedin-grey.png' alt='linkedin' nosend='1' border='0' type='image/png' width='18' height='18' />
                </a>
            </div>
            <span style='font-size: 24px'><br/></span>
             <div style='font-family: Avenir Next, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 10pt;'>
                <a style="color:rgb(0,111,244)" href='https://thecamp.fr/mission?utm_source=signature&utm_medium=email' title='thecamp mission' >What is thecamp?</a>
            </div>
            <div style='font-family: Avenir Next, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 10pt;'>
                <a style="color:rgb(0,111,244)" href='https://thecamp.fr/ecosystem?utm_source=signature&utm_medium=email' title='thecamp ecosystem' >What is our ecosystem?</a>
            </div>
        </td>
    </tr>
</table> -->
<table cellpadding='0' cellspacing='0' border='0'>
    <tr>
        <td>
            <div style='font-family: Avenir Next, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 11pt; color: #000000;'>
                <span>%%FirstName%% %%LastName%%</span>
                <span style='font-size: 15px'><br/></span>
                <span style='color:#006ff4;'>aka&nbsp;</span>
                <span style='color:#006ff4;'>%%Aka%%</span>
            </div>
            <span style='font-size: 9px'><br/></span>
            <div style='line-height : 3pt;font-family: Avenir Next, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 9pt; color: #000000;'>
                <span style='color:#878787; letter-spacing: -0.2pt;'>%%MobileNumber%%</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span style='color:#878787; letter-spacing: -0.2pt;'>%%PhoneNumber%%</span>
            </div>
            <span style='font-size: 15px'><br/></span>
            <div style='font-family: Avenir Next, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 10pt;'>
                <a href='https://thecamp.fr?utm_source=signature&utm_medium=email' title='thecamp.fr' >
                    <img src='https://static.thecamp.fr/signatures/v2/logo.png' alt='thecamp.fr' nosend='1' border='0' type='image/png' width='130' height='29'/>
                </a>
            </div>
            <span style='font-size: 15px'><br/></span>
            <div style='text-decoration : none;' style='font-family: Avenir Next,HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 10pt;'>
                <a style='text-decoration : none;' href='https://twitter.com/thecampProvence' title='twitter' style='font-family: Avenir Next,HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 10pt;'>
                    <img src='https://static.thecamp.fr/signatures/v2/icon-twitter-grey.png' alt='twitter' nosend='1' border='0' type='image/png' width='18' height='18' />
                </a>
                <a style='text-decoration : none;' href='https://www.facebook.com/thecamp.provence/' title='facebook' style='font-family: Avenir Next, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 10pt;'>
                    <img src='https://static.thecamp.fr/signatures/v2/icon-facebook-grey.png' alt='facebook' nosend='1' border='0' type='image/png' width='18' height='18' />
                </a>
                <a style='text-decoration : none;' href='https://www.instagram.com/thecamp_provence/' title='instagram' style='font-family: Avenir Next, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 10pt;'>
                    <img src='https://static.thecamp.fr/signatures/v2/icon-instagram-grey.png' alt='instagram' nosend='1' border='0' type='image/png' width='18' height='18' />
                </a>
                <a style='text-decoration : none;' href='https://www.linkedin.com/company/thecamp' title='linkedin' style='font-family: Avenir Next, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 10pt;'>
                    <img src='https://static.thecamp.fr/signatures/v2/icon-linkedin-grey.png' alt='linkedin' nosend='1' border='0' type='image/png' width='18' height='18' />
                </a>
            </div>
            <span style='font-size: 24px'><br/></span>
            <div style='font-family: Avenir Next, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 10pt;'>
                <a style="color:rgb(0,111,244)" href='https://thecamp.fr/mission?utm_source=signature&utm_medium=email' title='thecamp mission' >What is thecamp?</a>
            </div>
            <div style='font-family: Avenir Next, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 10pt;'>
                <a style="color:rgb(0,111,244)" href='https://thecamp.fr/ecosystem?utm_source=signature&utm_medium=email' title='thecamp ecosystem' >What is our ecosystem?</a>
            </div>
            <div>
               <img style="margin-top:40px;" src="https://thecamp.fr/sites/contenthub/files/styles/max_2000x2000/public/images/signature-mail-ok.jpg" alt="atelier du pass - offre découverte" width="750" />
           </div>
        </td>
    </tr>
</table>