<table cellpadding="0" cellspacing="0" border="0">

    <tr>
        <td>
            <span style="line-height: 10px; font-size: 20px;">&nbsp;<br /></span>
            <a href="http://thecamp.fr" title="thecamp.fr" style="font-family: 'Avenir next', Arial, sans-serif; font-size: 9pt;">
                <img src="logo.png" alt="thecamp.fr" nosend="1" border="0" type="image/png" width="190" height="49" />
            </a>
        </td>

        <td>
            <span style="line-height: 10px; font-size: 10px;">&nbsp;<br /></span>
            <div style="padding-left : 15px; font-family: 'Avenir next', Arial, sans-serif; font-size: 12pt; color: #000000;">
                <span style="line-height: 17px">Julien Gerardot</span><br/>
                <span style="line-height: 17px;color:#006ff4;">The Artist</span>
            </div>
        </td>

        <td>
            <span style="line-height: 10px; font-size: 10px;">&nbsp;<br /></span>
            <div style="padding-left : 30px; font-family: 'Avenir next', Arial, sans-serif; font-size: 10pt; color: #000000;">
               <span style="color:#006ff4;"><b>T</b>&nbsp;</span> <span style="color:#878787">06 19 33 13 56</span> <br/>
               <span style="color:#006ff4;"><b>W</b>&nbsp;</span> <span style="color:#878787">www.thecamp.fr</span>
            </div>
        </td>

        <td>
            <span style="line-height: 10px; font-size: 10px;">&nbsp;<br /></span>
            <table width="50" cellpadding="4" cellspacing="0">
                <tr>
                    <td style="padding-left : 30px;">
                        <a href="https://twitter.com/thecampProvence" title="twitter" style="font-family: 'Avenir next', Arial, sans-serif; font-size: 9pt;">
                            <img src="twitter.png" alt="twitter" nosend="1" border="0" type="image/png" width="20" height="20" />
                        </a>
                    </td>
                    <td>
                        <a href="https://www.facebook.com/thecamp.provence/" title="facebook" style="font-family: 'Avenir next', Arial, sans-serif; font-size: 9pt;">
                            <img src="fb.png" alt="facebook" nosend="1" border="0" type="image/png" width="21" height="21" />
                        </a>
                    </td>
                    <td>
                        <a href="https://www.linkedin.com/company/thecamp" title="linkedin" style="font-family: 'Avenir next', Arial, sans-serif; font-size: 9pt;">
                            <img src="linkdn.png" alt="linkedin" nosend="1" border="0" type="image/png" width="22" height="22" />
                        </a>
                    </td>
                    <td>
                        <a href="https://www.instagram.com/thecamp_provence/" title="instagram" style="font-family: 'Avenir next', Arial, sans-serif; font-size: 9pt;">
                            <img src="insta.png" alt="instagram" nosend="1" border="0" type="image/png" width="22" height="22" />
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>