
<table border="0" cellspacing="0" cellpadding="0" width="345" style="width:258.75pt">
  <tbody>
    <tr style="height:93.0pt">
      <td width="345" style="width:258.75pt;padding:0cm 0cm 0cm 0cm;height:93.0pt">
        <table border="0" cellspacing="0" cellpadding="0" width="345" style="width:258.75pt">
          <tbody>
            <tr style="height:75.0pt">
              <td width="345" style="width:258.75pt;padding:0cm 0cm 0cm 0cm;height:75.0pt">
                <table border="0" cellspacing="0" cellpadding="0" width="345" style="width:258.75pt">
                  <tbody>
                    <tr style="height:75.0pt">
                      <td width="65" style="width:48.75pt;padding:0cm 0cm 0cm 0cm;height:75.0pt">
                        <p>
                          <span style="font-size:11.0pt;font-family:'Verdana',sans-serif;">
                            <img width="65" height="65" style="width:.677in;height:.677in" id="_x0000_i1028" src="https://storage.letsignit.com/5bea83cbaeb590b0b47dbd34/16778954715150875074560279538553756402_5c374909853cc600084bb92e_a423c57f62f160d92122de488310c6ce.jpg" alt="https://storage.letsignit.com/5bea83cbaeb590b0b47dbd34/16778954715150875074560279538553756402_5c374909853cc600084bb92e_a423c57f62f160d92122de488310c6ce.jpg">
                            <o:p></o:p>
                          </span>
                        </p>
                      </td>
                      <td width="265" style="width:198.75pt;padding:0cm 0cm 0cm 11.25pt;height:75.0pt">
                        <p>
                          <b><span style="color:#333333;">Benjamin CIOTTI<br>
                          </span></b><b><span style="font-size:10.0pt;color:#006FF4;">CTO<br>
                          </span></b><span style="font-size:10.0pt;color:black;">&#43;33 7 52 04 38 64</span>
                          <span style="font-size:11.0pt;font-family:&quot;Verdana',sans-serif;">
                            <o:p></o:p>
                          </span>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr style="height:18.0pt">
              <td width="335" style="width:251.25pt;padding:0cm 0cm 0cm 0cm;height:18.0pt">
                <table border="0" cellspacing="0" cellpadding="0" width="335" style="width:251.25pt">
                  <tbody>
                    <tr style="height:18.0pt">
                      <td width="70" style="width:52.5pt;padding:0cm 0cm 0cm 0cm;height:18.0pt">
                        <table border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr style="height:13.5pt">
                              <td width="19" style="width:14.25pt;padding:0cm .75pt 0cm 0cm;height:13.5pt">
                                <p align="center" style="text-align:center">
                                  <a href="https://cloud.letsignit.com/collect/bc/5c374909853cc600084bb92e?e=benjamin@thecamp.fr&amp;u=https%3A%2F%2Fwww.facebook.com%2Fthecamp.provence"><span style="font-size:1.0pt;color:blue;;text-decoration:none"><img border="0" width="16" height="16" style="width:.1666in;height:.1666in" id="_x0000_i1027" src="https://storage.letsignit.com/icons/Facebook-br@2x.png" alt="https://storage.letsignit.com/icons/Facebook-br@2x.png"></span></a>
                                  <span style="font-size:1.0pt;">
                                    <o:p></o:p>
                                  </span>
                                </p>
                              </td>
                              <td width="19" style="width:14.25pt;padding:0cm .75pt 0cm 0cm;height:13.5pt">
                                <p align="center" style="text-align:center">
                                  <a href="https://cloud.letsignit.com/collect/bc/5c374909853cc600084bb92e?e=benjamin@thecamp.fr&amp;u=https%3A%2F%2Ftwitter.com%2FthecampProvence"><span style="font-size:1.0pt;color:blue;;text-decoration:none"><img border="0" width="16" height="16" style="width:.1666in;height:.1666in" id="_x0000_i1026" src="https://storage.letsignit.com/icons/Twitter-br@2x.png" alt="https://storage.letsignit.com/icons/Twitter-br@2x.png"></span></a>
                                  <span style="font-size:1.0pt;">
                                    <o:p></o:p>
                                  </span>
                                </p>
                              </td>
                              <td width="18" style="width:13.5pt;padding:0cm 0cm 0cm 0cm;height:13.5pt">
                                <p align="center" style="text-align:center">
                                  <a href="https://cloud.letsignit.com/collect/bc/5c374909853cc600084bb92e?e=benjamin@thecamp.fr&amp;u=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fthecamp%2F"><span style="font-size:1.0pt;color:blue;;text-decoration:none"><img border="0" width="16" height="16" style="width:.1666in;height:.1666in" id="_x0000_i1025" src="https://storage.letsignit.com/icons/Linkedin-br@2x.png" alt="https://storage.letsignit.com/icons/Linkedin-br@2x.png"></span></a>
                                  <span style="font-size:1.0pt;">
                                    <o:p></o:p>
                                  </span>
                                </p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td width="260" style="width:195.0pt;padding:0cm 0cm 0cm 3.75pt;height:18.0pt">
                        <p>
                          <span style="font-size:11.0pt;font-family:'Verdana',sans-serif;">
                            <a href="https://cloud.letsignit.com/collect/bc/5c374909853cc600084bb92e?e=benjamin@thecamp.fr&amp;u=https%3A%2F%2Fthecamp.fr%2F" target="_blank" title="thecamp"><span style="font-size:10.0pt;font-family:'Arial',sans-serif;color:gray">www.thecamp.fr</span></a>
                            <o:p></o:p>
                          </span>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
