<style>
 a:link, a:visited, a:hover, a:active { color: #808080; }
</style>
<table border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate">
  <tbody>
    <tr>
      <td width="345" height="129" style="min-width:345px;min-height:129px;">
        <table border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate">
          <tbody>
            <tr>
              <td width="345" height="110" style="min-width:345px;min-height:110px;">
                <table border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate">
                  <tbody>
                    <tr>
                      <td width="65" height="93" align="left" style="min-width:65px;min-height:93px;text-align:left;vertical-align:middle;">
                        <img width="65" height="65" alt="thecamp" src="https://storage.letsignit.com/5bea83cbaeb590b0b47dbd34/16778954715150875074560279538553756402.jpg">
                      </td>
                      <td width="265" height="110" style="min-width:265px;min-height:110px;padding-left:15px;vertical-align:middle;">
                        <div style="font-family: Verdana">
                          <span style="font-size: 15pt; color: #006ff4; font-family: verdana, geneva, ubuntu;">
                            <span style="font-family: calibri, helvetica;">
                              <span style="font-size: 12pt;">
                                <strong>
                                  <span style="color: #333333;">%%FirstName%% %%LastName%%<br></span>
                                </strong>
                              </span>
                            </span>
                          </span>
                          <span style="font-size: 15pt; color: #006ff4; font-family: verdana, geneva, ubuntu;">
                            <strong style="font-family: calibri, helvetica; font-size: 13.3333px;">%%Title%%<br></strong>
                            <span style="color: #000000; font-family: calibri, helvetica; font-size: 13.3333px;">%%PhoneNumber%%<br></span>
                            <span style="color: #000000; font-family: calibri, helvetica; font-size: 13.3333px;">%%MobileNumber%%</span>
                          </span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td width="335" height="19" style="min-width:335px;min-height:19px;">
                <table border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate">
                  <tbody>
                    <tr>
                      <td width="70" height="19" align="left" style="min-width:70px;min-height:19px;text-align:left;vertical-align:middle;">
                        <table border="0" cellspacing="0" cellpadding="0" style="border-spacing:0;">
                          <tbody>
                            <tr>
                              <td align="middle" width="19" height="18" style="padding-right:1px;width:19px;height:18px;">
                                <a style="text-decoration:none;" title="Facebook" href="https://www.facebook.com/thecamp.provence">
                                  <span style="font-size:1.0pt;color:blue;text-decoration:none">
                                    <img src="https://storage.letsignit.com/icons/Facebook-br@2x.png" border="0" width="16" height="16" alt="Facebook" style="display:block;">
                                  </span>
                                </a>
                              </td>
                              <td align="middle" width="19" height="18" style="padding-right:1px;width:19px;height:18px;">
                                <a style="text-decoration:none;" title="Twitter" href="https://twitter.com/thecampProvence">
                                  <span style="font-size:1.0pt;color:blue;text-decoration:none">
                                    <img src="https://storage.letsignit.com/icons/Twitter-br@2x.png" border="0" width="16" height="16" alt="Twitter" style="display:block;">
                                  </span>
                                </a>
                              </td>
                              <td align="middle" width="18" height="18" style="width:18px;height:18px;">
                                <a style="text-decoration:none;" title="LinkedIn" href="https://www.linkedin.com/company/thecamp">
                                  <span style="font-size:1.0pt;color:blue;text-decoration:none">
                                    <img src="https://storage.letsignit.com/icons/Linkedin-br@2x.png" border="0" width="16" height="16" alt="LinkedIn" style="display:block;">
                                  </span>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td align="left" width="260" height="19" style="min-width:260px;min-height:19px;padding-left:5px;text-align:left;vertical-align:middle;">
                        <div style="font-family: Verdana">
                          <a href="https://thecamp.fr/?utm_medium=email&utm_source=signature" target="_blank" title="thecamp" style="font-family: arial, helvetica, sans-serif; font-size: 10pt; color: #808080;">
                            <span style="font-family: arial, helvetica, sans-serif; font-size: 10pt; color: #808080;">www.thecamp.fr</span>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>